gh/
emacs/eln-cache/
nushell/history.sqlite3-shm
nushell/history.sqlite3-wal
# ---- Emacs runtime ----
emacs/history
emacs/eln-cache/
emacs/var/
emacs/auto-save-list/

# ---- Nushell runtime ----
nushell/history.sqlite3*
