themes {
    all-white {
        fg 0 0 0
        bg 255 255 255
        black 0 0 0
        red 255 0 0
        green 0 255 0
        yellow 255 255 0
        blue 0 0 255
        magenta 255 0 255
        cyan 0 255 255
        white 255 255 255
        orange 255 165 0
    }
}
