themes {
    dark-red {
        fg 139 0 0
        bg 255 255 255
        red 139 0 0
        green 139 0 0
        yellow 139 0 0
        blue 139 0 0
        cyan 139 0 0
        magenta 139 0 0
        orange 139 0 0
        purple 139 0 0
        black 139 0 0
        white 255 255 255
        text_unselected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        text_selected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        ribbon_unselected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        ribbon_selected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        frame_unselected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        frame_selected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        frame_highlight {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        exit_code_success {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        exit_code_error {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        table_title {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        table_cell_selected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        table_cell_unselected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        list_selected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
        list_unselected {
            base 139 0 0
            background 255 255 255
            emphasis_0 139 0 0
            emphasis_1 139 0 0
            emphasis_2 139 0 0
            emphasis_3 139 0 0
        }
    }
}
