themes {
    red {
        fg 139 0 0
        bg -1 -1 -1
        red 139 0 0
        green 0 0 0
        yellow 0 0 0
        blue 0 0 0
        cyan 0 0 0
        magenta 0 0 0
        orange 0 0 0
        purple 0 0 0
        black 0 0 0
        white -1 -1 -1
        text_unselected {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        text_selected {
            base 255 255 255
            background 139 0 0
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        ribbon_unselected {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        ribbon_selected {
            base 255 255 255
            background 139 0 0
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        frame_unselected {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        frame_selected {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        frame_highlight {
            base 255 255 255
            background 139 0 0
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        exit_code_success {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        exit_code_error {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        table_title {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        table_cell_selected {
            base 255 255 255
            background 139 0 0
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        table_cell_unselected {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        list_selected {
            base 255 255 255
            background 139 0 0
            emphasis_0 255 255 255
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        list_unselected {
            base 139 0 0
            background -1 -1 -1
            emphasis_0 139 0 0
            emphasis_1 165 42 42
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
    }
}
