load_plugins {
    falcode-zellij-sessions
}
ui {
    pane_frames {
        rounded_corners true
    }
}
theme "shape-white"
default_mode "locked"
default_shell "nu"
default_cwd "/"
default_layout "default"
layout_dir "/data/data/com.termux/files/home/.config/zellij/layouts"
theme_dir "/data/data/com.termux/files/home/.config/zellij/themes"
mouse_mode false
pane_frame true
mirror_session true
on_force_close "detach"
scroll_buffer_size 20000
copy_command "wl-copy"
copy_on_select true
scrollback_editor "/usr/bin/emacs"
attach_to_session false
session_serialization true
serialize_pane_viewport true
scrollback_lines_to_serialize 10000
styled_underlines true
serialization_interval 10000
disable_session_metadata false
stacked_resize false
show_startup_tips false